.policy-container {
  min-height: 100vh;
  padding: 0 207px;
}

.policy-header {
  margin-top: 48px;
  margin-bottom: 64px;
}

.section-policy-content {
  margin-top: 32px;
}
.header-policy-content {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.text-policy-content {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1250px) {
  .policy-container {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1050px) {
  .policy-container {
    padding: 0 107px;
  }
}

@media screen and (max-width: 840px) {
  .policy-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 650px) {
  .policy-header {
    margin-top: 40px;
    margin-bottom: 55px;
  }

  .section-policy-content {
    margin-top: 28px;
  }
  .header-policy-content {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 500px) {
  .policy-container {
    padding: 0 25px;
  }
}
