@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');

$text-color:#fff;
$text-color-gray:#595959;

$black-primary:#020202;
$black-secondary: #181919;
// $border-color: #4c4c4c;
$primary: #989DFF;
$secondary: #4A4E75;
$hover: #1E1F33;
$green:#7DFFD9;
$red:#FF8C8C;


$desktop: 1440px;
$laptop: 1240px;
$tablet: 920px;
$mobile: 640px;
$small: 424px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

// @mixin line-clamp($number) {
//    overflow: hidden;
//    display: -webkit-box;
//    -webkit-line-clamp: $number;
//    -webkit-box-orient: vertical;
// }

::-webkit-scrollbar {
   width: 0px;
}